
.material-icons:hover
{
    cursor: pointer;
}
  
  /* Rules for sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

table.plan {
   border-collapse: collapse;
}


col.spacer {
    width: 5px;
    background: white;
    border-top: 0px;
    border-bottom: 0px;
}

tr.info{
    font-size: smaller;
}

tr.spacer{
    height: 5px;
}


th, td {
    border: 1px solid #E9E9E9;
}

th {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td {
    text-align: right;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}


th.group{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

td.colv, th.colv {
    alt: inherit;
}

td.colh, th.colh {
    display: none;
}

/* prevents rouge bottom border on sparer rows */
thead{
    border: none;
} 

th.spacer, td.spacer {
    border: none;
    background: white;
}

span.bold {
    font-weight: 900;
}

span.normal {
    font-weight: 100;
}