

table.plan {
   border-collapse: collapse;
   empty-cells: hide;
}

colgroup {
    column-span: 2;
    margin: 20px;
}

col.spacer {
    width: 10px;
    background: white;
    border-top: 0px;
    border-bottom: 0px;
}

tr.info{
    font-size: smaller;
}

tr.spacer{
    height: 5px;
}

th.group{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: right;
    padding: 5px;
}

th,td {
    /* background-color: red; */
    border: 1px solid #E9E9E9;
}

td.colv, th.colv {
}

td.colh, th.colh {
    display: none;
}


th.spacer, td.spacer {
    border: none;
}
